{% extends 'base.html' %}

{% block content %}

<div>
    <div class="green-title">
            <h5 class="my-3 border-bottom pb-2" align="center">탄소포인트</h5>
    </div>
    <div>
        <div class="carbon-list">
            {% for Carbonpoint in carbon_list %}
            <input type="checkbox" name="selected" id="selected" value="{{ Carbonpoint.id}}">{{ Carbonpoint.pointtype }}</input>
            <td>{{ Carbonpoint.cpoint }}P</td>
            <p></p>
            {% endfor %}
            <a href="{% url 'point:carbonmodify' %}" class="btn btn-primary">수정하기</a>
        </div>
    </div>
        <div>
            <a href="{% url 'point:createcarbon' %}" class="btn btn-primary">추가하기</a>
            <button type="submit" class="btn btn-primary">삭제하기</button>
        </div>
</div>
{% endblock %}