{% extends 'base.html' %}

{% block content %}

<div>
    <div class="green-title">
            <h5 class="my-3 border-bottom pb-2" align="center">그린포인트</h5>
    </div>
    <div>
        <div class="green-list">
            {% csrf_token %}
            {% for Greenpoint in greenlist %}
            <td>{{ Greenpoint.pointtype }}</td>
            <td>{{ Greenpoint.gpoint }}P</td>
            <td>{{ Greenpoint.create_date }}</td>
            <td>{{ Greenpoint.modify_date }}P</td>
            <a href = "{% url 'point:greenmodify' Greenpoint.id %}" class = 'btn btn-sm btn-outline-secondary'>수정하기</a>
            <p></p>
            {% endfor %}

        </div>
    </div>
        <div>
            <a href="{% url 'point:creategreen' %}" class="btn btn-primary">추가하기</a>
            <button type="submit" class="btn btn-primary">삭제하기</button>
        </div>
</div>
{% endblock %}