{% extends 'base.html' %}

{% block content %}

<div>
    <div class="green-title">
            <h5 class="my-3 border-bottom pb-2" align="center">그린포인트</h5>
    </div>
    <div>
        <div class="green-list">
            {% for Greenpoint in green_list %}
            <input type="checkbox">{{ Greenpoint.pointtype }}</input>
            <td>{{ Greenpoint.gpoint }}P</td>
            <p></p>
            {% endfor %}
        </div>
    </div>
        <div>
            <button type="#" class="btn btn-primary">추가하기</button>
            <button type="submit" class="btn btn-primary">수정하기</button>
            <button type="submit" class="btn btn-primary">삭제하기</button>
        </div>
</div>
{% endblock %}