<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> OCOP {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> <!--jQuery JS-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script><!--정렬기능 부트스트랩-->
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <header class="header clearfix">
    <!-- 네비게이션바 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href=/">OCOP</a>
        <ul class="nav">
            <li class="nav-item">
                <a class="active nav-link" href="/">Home</a>
                <li class="nav-item"><a class="nav-link" href="{% url 'point:carbonpage' %}">탄소포인트</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'point:greenpage' %}">그린포인트</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'mypage:mypage' %}">마이페이지</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'pybo:pybo' %}">게시판</a></li>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="/">Welcome, {{ user.get_username }}</a></li>
            {% else %}
            <a class="nav-link" href="/">로그인</a>
            {% endif %}
        </ul>
    </nav>
    </header>

    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    {% block content %}
    {% endblock %}
    <!-- 기본 템플릿 안에 삽입될 내용 End -->

    <!--자바스크립트 start-->
    {% block script %}
    {% endblock %}
    <!--자바스크립트 end-->

</div>
</body>
</html>